/* NAV BAR */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Patrick+Hand&display=swap');
style>
*{          
    margin: 0;
    padding: 0;
}
img{
   width: 100%;
} 
html,body{
    height: 100%;
    width: 100%;
  
}
   /* NAV BAR */
#top-nav{
    margin: 0;
    padding:0;
    background-color: gray;
    
}
#top-nav ul{
    display:flex;
    justify-content: right;
}
#top-nav li{
    list-style:none;
}
#top-nav ul li a{
    display:block;
    color:white;
    padding:1em;
    transition:all 0.5s;
    
}
#top-nav ul li a:hover{
    background-color: lightgray;
}
/* NAV BAR */

/*main*/
main{
    width:100%;
    max-width: 900px;
    margin:0 auto;
    
} 
#hero{
    
}
/*body*/
body{
    font-size: 16px;
    font-family:  'Patrick Hand', cursive;
    background-color:rgb(241, 241, 176) ; 
}
/*body*/

/* Footer */
footer{
    background-color: lightblue;
    display:grid;
    grid-template-columns: auto 1fr auto;
 
}


footer #social ul{
    Display:flex;
    justify-content: right;
    
}
footer #social ul li{
    list-style:none;

}
footer #social ul li a {

    display:flex;

    justify-content: center;

    align-items: center;

    width:50px;

    height:30px;

    border-radius: 40px;

    transition:all 0.5s;

}
footer ul li a:hover{
    background-color: lightgreen;
}
#social ul li a:hover{
    background-color: lightgreen;
}
#bottom-nav a{
    display:block;
    color:black;
    padding:1em;
    transition:all 0.5s;
}
#bottom-nav ul{
    display:flex;
    justify-content: space-evenly;
}
#bottom-nav ul li{
    list-style:none;
}
