@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Patrick+Hand&family=Roboto:wght@300&display=swap');

body{
    color: aliceblue;
}

#hero{
    margin: auto;
    max-width: 90%;
    background-color: aliceblue ;
    font-size: 30px;
    text-align: center;
    list-style-position: inside;
    color:rgb(0, 0, 0);
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(235, 229, 229);
}

#subtext{
    margin:0;
    padding:0;
    text-align: center;
}

#main-section{
    color: rgb(3, 2, 2);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(255, 255, 255) ; 
    max-width: 1700px;
    margin-left:auto; 
    margin-right:auto;
    margin-top:0;
    padding-bottom: 0.5%;
}

#main-section div{
    box-shadow: 0 4px 8px  rgb(255, 255, 255), 0 6px 20px 40px rgb(235, 229, 229);
}

#main-section p{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

#main-section h2{
    font-size: 80px;
    font-weight: 100%;
    margin-bottom: 0%;
}

#main-section img{
    margin-top: 20px;
    border-radius: 25px;
    margin-left:25%;
    padding: 0;
    width: 50%;
    height: 50%;
}

#head{
    margin-top: 20px;
    background-color: rgb(19, 14, 14);
    width: 100%;
}

#head img {
    width: 99.5%;
    max-height: 800px;
    object-fit: cover;
    border: 5px solid rgb(255, 255, 255);
    opacity: 0.5;
}

#banner{
    background-image: url(/img/bannerimg.jpg);
    max-width: 70%;
    margin:auto;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#banner h1{
    text-align:center;
    color:white;
    margin: 100px;
    font-size: 150px;

}

#banner p{
    font-size: 30px;
    text-align:center;

}

#earth{
    margin-top: 70px;
    border-radius: 25px;
    padding: 0;
    margin-left: 30%;
    height: 50%;
}

#events-heading{
    font-weight: 100;
    border-color: aliceblue;
    background-image: url(/img/unimage.jpg); 

    padding: 0;
    width: 99%;
    border-style: solid;
    text-align:center;
    color:rgb(19, 12, 12);
    margin-top: 100px;
    font-size: 60px;
    margin-bottom:0;
}


#events-heading h1{

    padding: 0%;
    background-color: azure;
}

.cards{
    margin-bottom: 10%;
    display: flex;
    justify-content: space-evenly;
}


#card-body1{
    border-style: outset;
    border-width: 8px;
    border-color: rgb(230, 230, 218);
    text-align: left;
    color: black;
    background-color: aliceblue;
    height: 400px;
    width: 400px;
    padding: 5%;
    margin-top: 50px;

}

 a{
    display: block;
}

#card-body1:hover{
    background: #534b4b;
    color: #fff;
    text-align: left;
}

#card-body2{
    color: black;
    border-style: outset;
    border-width: 8px;
    border-color: rgb(230, 230, 218);
    text-align: left;
    background-color: aliceblue;
    height: 400px;
    width: 400px;
    padding: 5%;
    margin-top: 30px;
    margin-right: 0;
}

#card-body2 a{
    display: none;
}

#card-body2:hover{
    background: #534b4b;
    color: #fff;
    text-align: left;
}

#card-body3{
    border-style: outset;
    border-width: 8px;
    border-color: rgb(230, 230, 218);
    color: black;
    text-align: left;
    background-color: aliceblue;
    height: 400px;
    width: 400px;
    padding: 5%;
    margin-top: 50px;
    margin-right: 0;
}

#card-body3 a{
    display: none;
}

#card-body3:hover{
    background: #534b4b;
    color: #fff;
    text-align: left;
}


#event-button {
    
    padding: 0%;
    margin-top: 100px;
}

#event-button i{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: #fff;
    color: rgb(16, 24, 99);

}

a{
    color:blue
}