

html,body{
    width:100%;
    Height:100%;
}




#hero{
    text-align: center;
    list-style-position: inside;
    color:chocolate
}
div#hero{
    background-color:aliceblue;
    border: 5px solid rgb(10, 10, 14)}
#button-container{
    display:ruby;
    background-color:rgb(57 57, 134);
    color:rgb(255, 255, 255);
    padding:2.5px;
}
    #head{
    background: linear-gradient(to right, red 0%, purple 100%);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    text-align: center;
    font-size:500%;
    padding-top: 1%; 
    font-family:  'Patrick Hand', cursive;
}

Div#lists{
    color:blue;
    background-color:rgb(111, 206, 185);
    border: 5px solid rgb(10, 10, 14)}



#sub{
    color:rgb(56, 38, 33);
    text-align: center;
    font-size:300%;
}
img{
    filter: drop-shadow(30px 10px 4px #000000)
    
}

