@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Patrick+Hand&display=swap');
style>

#hero{
    text-align: center;
    list-style-position: inside;
    color:chocolate;
}
div#hero{
    background-color:aliceblue;
}
#button-container{
    display:ruby;
    background-color:rgb(57 57, 134);
    color:rgb(255, 255, 255);
    padding:2.5px;
} 
#head{
    font-size: 150%;
    max-width: 100%;

}

Div#lists{
    color:blue;
    background-color:rgb(111, 206, 185);}
    

h1{
    font-size: 300%;
    text-align: center;
    
}
h3{
    font-size: 300%;
}
p{
    font-size: 150%;
}
#sub{
    color:rgb(56, 38, 33);
    text-align: center;
    font-size:300%;
}

